@media screen and (max-width: 500px)
{
	main
	{
		display: flex;
		flex-direction: column;
	}
	header h1
	{
		width: 700px;
		text-align: center;
	}
	.contact p
	{
		font-size: 16px;
	}
	.propos p
	{
		font-size: 16px;
	}
	.droite article
	{
		width: 700px;
	}
	.droite td
	{
		width: 400px;
	}
	.gauche
	{
		width: 700px;
	}
}

@font-face
{
		font-family: bellota;
		src: url('webfont/bellota_bold_macroman/Bellota-Bold-webfont.woff');
		src: url('webfont/bellota_regular_macroman/Bellota-Regular-webfont.woff');
}

body
{
	margin: 0;
}

main
{
	display: flex;
	background-image: url("#");
	font-family: bellota;
	font-size: 14px;
	color: black;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px black;
}

h1
{
	text-align: left;
	padding-left: 0px;
	/*text-shadow: 2px 2px 4px black;*/
	font-size: 40px;
	line-height: 30px;
}

article
{
	border-top: solid rgb(240, 207, 19);
	width: 500px;
}

td
{
	width: 250px;
	min-width: 200px;
	vertical-align: top;
}

ul
{
	color: rgb(240, 207, 19);
}
.gauche
{
	display: flex;
	flex-direction: column;
	font-size: 10px;
	background-color: rgb(240, 207, 19);
	margin-right: 5px;
	/*height: 1080px;
	min-width: 200px;
	width: 200px;*/
	order: 1;
	flex: 0.5;

}

.gauche h2
{
	text-decoration: none;
	background-color: rgb(57,57,57);
	color: rgb(240, 207, 19);
	text-align: center;
}

.droite h2
{
	font-size : 20px;
	text-align: left;
	
}

.droite
{
  display: block;
  /*min-width: 650px;
  width: 700px;*/
  order: 2;
  flex: 5;
}

.puce
{
	list-style: url(images/dot-circle-regular.svg);
}

.souligne
{
	text-decoration: underline rgb(240, 207, 19); 
}

.job
{
	font-size: 17px; 
}

.contact
{
 text-align: justify;
 padding-left: 20px;
 font-size: 12px;
}

.propos
{
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 220px;
	font-size: 12px;
}

.divphoto
{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 10px;
}

.photo
{
	border-radius: 50px 50px 50px 50px;
}

.firstname
{
	color: rgb(240, 207, 19);
	text-decoration: none;
	font-size: 40px;
}

.foot
{
	width: 80%;
	height: 80%;
	border: solid 1.5px black;
	border-radius: 50px;
}

.muscu
{
	width: 80%;
	height: 80%;
	border: solid 1.5px black;
	border-radius: 50px;
}

.xbox
{
	width: 80%;
	height: 80%;
	border: solid 1.5px black;
	border-radius: 50px;
}

.formation 
{
	width: 30px;
	height: 30px;
	margin-right: 20px;

}

.experience
{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.recommandation
{
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.LR
{
	color: black;
}

.reco
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.reco2
{
	min-width: 200px;
	padding-top: 10px;
	line-height: 15px;
}

.loisirs
{
	display: flex;
	justify-content: space-around;
}

.mentor
{
	margin-bottom: 0px;
}